.main-layout {
  background-color: var(--Background, #011627);
    .sidenav-container {
      height: 100vh;  /* Full viewport height */
      display: flex;
      .sidenav {
        width: 250px;
        background-color: #f5f5f5;
      }
    }
}
