.mat-toolbar {
  background-color: #1976d2;
  color: white;
}
/* Navigation list item styling */
.mat-nav-list {
  padding-top: 8px;
}

.mat-list-item {
  font-size: 16px;
  padding: 10px 16px;
}

.mat-list-item.active {
  background-color: #e0e0e0; /* Highlight active navigation item */
}
