<div class="list">
  <div class="grid-container">
    <div class="table-container">
      <div class="table-header">
        <h1>Game Date: {{ gameDate }}</h1>
        <button mat-raised-button (click)="closeGameDay(gameDate)">Close Day</button>
      </div>
      <p><strong>Total Daily Amount for All Halls: </strong> {{ slotPitData.total_daily_amount }}₾</p>
      <p><strong>Total Daily Amount for All Halls: </strong> {{ getTotalMoneyByDollar(slotPitData.total_daily_amount) }}
        $</p>
      <div *ngFor="let hall of slotPitData.halls" class="hall-box">
        <!-- Hall Name -->
        <h2>{{ hall.name }}</h2>
        <!-- Daily Total for the Hall -->
        <p><strong>Daily Money Sum: </strong> {{ hall.daily_money_sum }}₾</p>
        <!-- Slot Machines Table -->
        <table mat-table [dataSource]="hall.slot_machines" class="mat-elevation-z8">

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name</th>
            <td mat-cell *matCellDef="let slotMachine"> {{ slotMachine.name }} </td>
          </ng-container>

          <!-- Brand Column -->
          <ng-container matColumnDef="brand">
            <th mat-header-cell *matHeaderCellDef> Brand</th>
            <td mat-cell *matCellDef="let slotMachine"> {{ slotMachine.brand }} </td>
          </ng-container>

          <!-- Daily Money Column -->
          <ng-container matColumnDef="dailyMoney">
            <th mat-header-cell *matHeaderCellDef> Daily Money</th>
            <td mat-cell *matCellDef="let slotMachine">
              <div *ngFor="let amount of slotMachine.daily_amounts">
                <mat-form-field class="example-full-width">
                  <mat-label>Daily Amount</mat-label>
                  <!-- Two-way binding to capture daily amounts (amount.amount) -->
                  <input matInput [(ngModel)]="amount.amount" (focusout)="close(slotMachine.id, amount.amount)" min="0"
                         placeholder="Enter amount">
                </mat-form-field>
              </div>
            </td>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions</th>
            <td mat-cell *matCellDef="let slotMachine">
              <!-- Pass the first amount or however you want to pass multiple amounts -->
              <button mat-button color="primary" (click)="close(slotMachine.id, slotMachine.daily_amounts[0]?.amount)">
                Close Slot
              </button>
            </td>
          </ng-container>

          <!-- Table Header -->
          <tr mat-header-row *matHeaderRowDef="['name', 'brand', 'dailyMoney']"></tr>

          <!-- Table Rows -->
          <tr mat-row *matRowDef="let row; columns: ['name', 'brand', 'dailyMoney']"></tr>
        </table>

      </div>

    </div>

    <!-- Progress Bar -->
    <div class="progress">
      <div class="progress-content">
        <div class="filter-section">
          <mat-form-field (click)="picker.open()" class="filter-input">
            <mat-label>Enter a date range</mat-label>

            <mat-date-range-input [formGroup]="rankingForm" [rangePicker]="picker">
              <!-- Start Date Input -->
              <input matStartDate formControlName="start" placeholder="Start date" readonly>

              <!-- End Date Input -->
              <input matEndDate formControlName="end" placeholder="End date" readonly>
            </mat-date-range-input>

            <!-- Hint for date format -->
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>

            <!-- Date Picker Toggle -->
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>

            <!-- Date Range Picker -->
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>

          <div class="actions">
            <button mat-raised-button (click)="submitDateRange()">
              Search
            </button>
            <button mat-raised-button (click)="resetDateRange()">
              Reset Date
            </button>

          </div>

        </div>
        <!-- Progress Section -->
        <div class="progress-container">
          <div class="progress-card">
            <svg class="progress-bar" viewBox="0 0 100 50" width="200" height="120">
              <path class="background" d="M 10 50 A 40 40 0 0 1 90 50" stroke="lightgray" stroke-width="2"
                    fill="none"></path>
              <path class="foreground" [attr.stroke-dasharray]="calculateStrokeDashArray()" stroke="green"
                    stroke-width="2"
                    fill="none" d="M 10 50 A 40 40 0 0 1 90 50"></path>

              <text x="0" y="10" font-size="8" fill="green">0</text>
              <text x="100" y="10" font-size="8" text-anchor="end" fill="green">{{ getMaxBvbMoney() }}</text>

              <text x="50" y="35" font-size="8" text-anchor="middle" fill="green">Total money</text>
              <text x="50" y="40" font-size="5" text-anchor="middle" fill="black">{{slotPitData.total_daily_amount}}₾
              </text>
              <text x="50" y="48" font-size="8" text-anchor="middle"
                    fill="black">{{ getTotalMoneyByDollar(slotPitData.total_daily_amount) }}$
              </text>

            </svg>
          </div>

          <!-- Halls Display Section -->
          <div class="hall-box" *ngFor="let hall of hallData">
            <p><strong>HALL NAME: </strong>{{ hall.name }}</p>
            <p><strong>TOTAL MONEY: </strong>{{ hall.daily_money_sum }}₾</p>

            <table mat-table [dataSource]="getBrandList(hall.slot_machines_by_brand)" class="mat-elevation-z8">
              <!-- Brand Column -->
              <ng-container matColumnDef="brand">
                <th mat-header-cell *matHeaderCellDef> Brand</th>
                <td mat-cell *matCellDef="let brand">{{ brand.name }}</td>
              </ng-container>

              <!-- Quantity Column -->
              <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef> Quantity</th>
                <td mat-cell *matCellDef="let brand">{{ brand.count }}</td>
              </ng-container>

              <!-- Total Money Column -->
              <ng-container matColumnDef="totalMoney">
                <th mat-header-cell *matHeaderCellDef> Total Money</th>
                <td mat-cell *matCellDef="let brand">{{ brand.total_money }}</td>
              </ng-container>

              <!-- Table Header -->
              <tr mat-header-row *matHeaderRowDef="['brand', 'quantity', 'totalMoney']"></tr>

              <!-- Table Rows -->
              <tr mat-row *matRowDef="let row; columns: ['brand', 'quantity', 'totalMoney']"></tr>
            </table>
          </div>

        </div>
      </div>
    </div>


  </div>
</div>
