.slot-machine-list {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 700px; /* Two columns: 1fr for table, 300px for progress bar */
    gap: 20px;
    padding: 0 50px;

    .table-container {
      overflow: auto;
    }
  }
}
