<div class="slot-machine-list">
  <div class="grid-container">
    <div class="table-container">
      <div *ngFor="let hall of slotPitData.halls">
        <!-- Hall Name -->
        <h2>{{ hall.name }}</h2>

        <!-- Slot Machines Table -->
        <table mat-table [dataSource]="hall.slot_machines" class="mat-elevation-z8">

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name</th>
            <td mat-cell *matCellDef="let slotMachine"> {{ slotMachine.name }} </td>
          </ng-container>

          <!-- Brand Column -->
          <ng-container matColumnDef="brand">
            <th mat-header-cell *matHeaderCellDef> Brand</th>
            <td mat-cell *matCellDef="let slotMachine"> {{ slotMachine.brand }} </td>
          </ng-container>

          <!-- Daily Money Column -->
          <ng-container matColumnDef="dailyMoney">
            <th mat-header-cell *matHeaderCellDef> Daily Money</th>
            <td mat-cell *matCellDef="let slotMachine">
              <span *ngFor="let amount of slotMachine.daily_amounts">{{ amount.amount || 0 }}</span>
            </td>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions</th>
            <td mat-cell *matCellDef="let slotMachine">
              <button mat-button color="primary" (click)="close(slotMachine.id, slotMachine.bvbMoney)">
                Close Slot
              </button>
            </td>
          </ng-container>

          <!-- Table Header -->
          <tr mat-header-row *matHeaderRowDef="['name', 'brand', 'dailyMoney', 'actions']"></tr>

          <!-- Table Rows -->
          <tr mat-row *matRowDef="let row; columns: ['name', 'brand', 'dailyMoney', 'actions']"></tr>
        </table>

        <!-- Daily Total for the Hall -->
        <p><strong>Daily Money Sum:</strong> {{ hall.daily_money_sum }}</p>

      </div>

      <!-- Total Daily Amount for All Halls -->
      <p><strong>Total Daily Amount for All Halls:</strong> {{ slotPitData.total_daily_amount }}</p>

    </div>

    <!-- Progress Bar -->
    <div>
      <app-data-analysis></app-data-analysis>
    </div>

  </div>
</div>
