<div *ngIf="tableData">
  <form [formGroup]="form" (ngSubmit)="updateCloseFloot()">
    <div formArrayName="close_flot">
      <div *ngFor="let control of closeFlot.controls; let i = index" [formGroupName]="i">
        <mat-form-field class="example-full-width">
          <mat-label>Denomination</mat-label>
          <input matInput formControlName="denomination" readonly>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Quantity</mat-label>
          <input matInput formControlName="quantity" type="number">
        </mat-form-field>
      </div>
    </div>

    <button mat-raised-button color="primary" type="submit">Save</button>
  </form>
</div>
