<div class="transaction-page">
  <div class="transaction-content">
    <form class="transaction-form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Select Table ID</mat-label>
        <mat-select formControlName="table_id">
          <mat-option>
            <input
              type="text"
              placeholder="Search..."
              [(ngModel)]="searchTerm"
              (input)="filterTables()"
              matInput
              [ngModelOptions]="{ standalone: true }"
            />
          </mat-option>

          <mat-option *ngFor="let table of filteredTables" [value]="table.id">
            {{ table.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Fill / Credit</mat-label>
        <input matInput formControlName="fillCredit" placeholder="Credit / Amount" type="number"/>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
  </div>
  <div class="transaction-table">
    <div class="filter-section">
      <mat-form-field (click)="picker.open()" class="filter-input">
        <mat-label>Enter a date range</mat-label>

        <mat-date-range-input [formGroup]="form" [rangePicker]="picker">
          <!-- Start Date Input -->
          <input matStartDate formControlName="start" placeholder="Start date" readonly>

          <!-- End Date Input -->
          <input matEndDate formControlName="end" placeholder="End date" readonly>
        </mat-date-range-input>

        <!-- Hint for date format -->
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>

        <!-- Date Picker Toggle -->
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>

        <!-- Date Range Picker -->
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <div class="actions">
        <button mat-raised-button (click)="submitDateRange()">
          Search
        </button>
        <button mat-raised-button (click)="resetDateRange()">
          Reset Date
        </button>
      </div>

    </div>
    <table>
      <table mat-table [dataSource]="fillCredit" class="mat-elevation-z8">

        <!-- Name Column -->
        <ng-container matColumnDef="table">
          <th mat-header-cell *matHeaderCellDef> Table</th>
          <td mat-cell *matCellDef="let item"> {{ item.table_name }} </td>
        </ng-container>

        <!-- Brand Column -->
        <ng-container matColumnDef="game_date">
          <th mat-header-cell *matHeaderCellDef> Game date</th>
          <td mat-cell *matCellDef="let item"> {{ item.game_date }} </td>
        </ng-container>

        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef> time </th>
          <td mat-cell *matCellDef="let item"> {{ item.created_at | date: 'HH:mm'}} </td>
        </ng-container>

        <ng-container matColumnDef="fill_credit">
          <th mat-header-cell *matHeaderCellDef> Fill Credit</th>
          <td mat-cell *matCellDef="let item"
              [ngClass]="{'green': item.fill_credit > 0, 'red': item.fill_credit < 0}"> {{ item.fill_credit }} </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions</th>
          <td mat-cell *matCellDef="let item">
            <button mat-button color="primary" [routerLink]="['/transaction/fill-credit', item.id]">
              Edit
            </button>
            <button mat-button color="warn" (click)="delete(item.id)">
              Delete
            </button>
          </td>
        </ng-container>

        <!-- Table Header -->
        <tr mat-header-row *matHeaderRowDef="['table', 'game_date', 'time', 'fill_credit', 'actions']"></tr>

        <!-- Table Rows -->
        <tr mat-row *matRowDef="let row; columns: ['table', 'game_date', 'time', 'fill_credit', 'actions']"></tr>
      </table>

    </table>
  </div>
</div>

