/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.success-snackbar {
  background-color: #4caf50 !important;
  color: white !important;
}

.error-snackbar {
  background-color: #f44336 !important;
  color: white !important;
}

.dialog-h1 {
  font-size: 20px;
  font-weight: 600;
}

.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
}

.mat-mdc-form-field {
  padding: 5px 0;
  width: 100%;
}

.mat-mdc-form-field-bottom-align {
  display: none;
}

.progress {
  .progress-content {
    position: fixed;
    background-color: #ddd2d2;

    .filter-section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 10px;
      gap: 25px;

      .actions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;

        button {
          height: 100%;
          width: 100%;
          background-color: rgba(87, 91, 87, 0.75);
        }
      }

      .filter-input {
        padding: unset;
        width: 100%;
      }
    }

    .progress-container {
      border-radius: 8px;
      padding: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      gap: 20px;
      align-items: start;
      justify-items: start;

      .hall-box {
        background-color: #b6d3b5;
        box-shadow: rgba(88, 102, 126, 0.08) 0 4px 24px, rgba(88, 102, 126, 0.12) 0 1px 2px;
        padding: 10px;

        span {
          display: flex;
          align-items: center;

          h2, h4 {
            margin: unset;
          }
        }

        .mat-elevation-z8 {
          background-color: #ddd2d2;
        }
      }

      .progress-card {
        grid-column: 1;
        grid-row: 1;
        justify-self: start;
      }

      .slot-machine-by-brand {
        grid-column: 2;
        grid-row: 1;
        justify-self: start;
        width: 100%;
      }

      .slot-machine-quantity {
        grid-column: 1 / span 2;
        grid-row: 2;
        justify-self: start;
        text-align: left;
        font-size: 1.2rem;
        padding: 5px;
        box-shadow: rgba(88, 102, 126, 0.08) 0 4px 24px, rgba(88, 102, 126, 0.12) 0 1px 2px;

        h3 {
          margin: 0;

          span {
            font-weight: 400;
            color: green;
          }
        }
      }
    }

  }

}


.progress-labels {
  display: flex;
  justify-content: space-between;
  padding: 0 12px 0 25px;
  margin-bottom: 10px;

}

svg.progress-bar {
  width: 300px;
  height: 150px;
  border-bottom: 2px solid black;

}

path {
  fill: none;
  stroke-width: 5;
}

.background {
  stroke: #e0e0e0;
  stroke-width: 5;
  fill: none;
}

.foreground {
  stroke: green;
  stroke-width: 5;
  fill: none;
}

